$primary-background: #fff;
$font-stack: 'Kabel Black', cursive;

@font-face {
	font-family: Kabel;
	src: url("fonts/Kabel-Black.ttf") format("opentype");
}



body {
  background-color: $primary-background;
  font-family: Kabel;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
	max-width: 320px;
	width: auto;
	margin: 0 auto;

  img {
		width: 100%;
  }
}

@media screen and (max-width: 320px) {
	.logo {
		width: 70%;
		max-width: none;
	}

	.images {
		img {
			width: 100%;
			max-width: none;
			max-height: auto;
		}
	}
}

.info {
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	border-top: 1px lightGray solid;
}

.images {
	max-width: 640px;
	margin: 0 auto;
	border-bottom: 1px lightGray solid;

	.image-flex {
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		overflow: hidden;
		flex-wrap: wrap;
	}

	img {
		height: 180px;
		max-width: 302px;
		margin: 1px;
	}
}
