$primary-background: #fff;
$font-stack: 'Kabel Black', cursive;

@font-face {
	font-family: Kabel;
	src: url("fonts/Kabel-Black.ttf") format("opentype");
}



body {
  background-color: $primary-background;
  font-family: Kabel;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  width: 70%;
  height: auto;
  margin: auto;

  img {
    width: 100%;
  }
}

.splash-text {
  margin-top: 13%;
  text-align: center;
}
